.mark-down-outer{
    display: flex;
}
.mark-down-outer textarea{
    width: 400px;
    height: 150px;
    margin-right: 15px;
}
.mark-down-outer markdown-inner
{
    width: 400px;
    height: 150px;
    border: 1px solid gray;
}
